@font-face{
  font-family: "Homemade Apple";
  font-style: normal;
  font-weight: 400;
  src: local("Homemade Apple Regular"),
       local("HomemadeApple-Regular"),
       url("/fonts/homemade-apple.woff2") format("woff2"),
       url("/fonts/homemade-apple.woff") format("woff"),
       url("/fonts/homemade-apple.ttf") format("truetype");
  font-display: fallback;
}

@font-face{
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/barlow-semi-condensed-regular.woff2") format("woff2"),
       url("/fonts/barlow-semi-condensed-regular.woff") format("woff"),
       url("/fonts/barlow-semi-condensed-regular.ttf") format("truetype");
  font-display: swap;
}

@font-face{
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/barlow-semi-condensed-italic.woff2") format("woff2"),
       url("/fonts/barlow-semi-condensed-italic.woff") format("woff"),
       url("/fonts/barlow-semi-condensed-italic.ttf") format("truetype");
  font-display: swap;
}
