@font-face{
  font-family: "Permanent Marker";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/permanent-marker.woff2") format("woff2"),
       url("../../fonts/permanent-marker.woff") format("woff");
  font-display: fallback;
}

@font-face{
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/barlow-semi-condensed-regular.woff2") format("woff2"),
       url("../../fonts/barlow-semi-condensed-regular.woff") format("woff");
  font-display: swap;
}

@font-face{
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/barlow-semi-condensed-italic.woff2") format("woff2"),
       url("../../fonts/barlow-semi-condensed-italic.woff") format("woff");
  font-display: swap;
}
