/**
 * Faster Fonts for Speed Fanatics presentation theme styles.
 * By Jeremy L. Wagner, https://jeremywagner.me
 **/

// Default mixins and settings
@import "../template/mixins";
@import "../template/settings";

// Font imports
@import "fonts.scss";

// Theme-specific variables
$purple: #754668;
$spaceCadet: #1d3461;
$darkCoral: #cf5c36;
$darkTerraCotta: #db5461;
$onyx: #3a2e39;
$white: #fcfaf9;

// Theme overrides
$mainColor: $white;
$headingColor: $white;
$mainFontSize: 42px;
$mainFont: "Barlow Semi Condensed", sans-serif;
$headingFont: "Barlow Semi Condensed", sans-serif;
$accentFont: "Homemade Apple", cursive;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;

// Heading Sizes
$heading1Size: 2.309em;
$heading2Size: 1.7639419404em;
$heading3Size: 1.3475492287em;
$heading4Size: 1.0294493726em;

// Theme template
@import "../template/theme";

.reveal{
  code,
  pre{
    font-family: "Consolas", monospace;
  }

  pre{
    width: 100%;
  }

  .slides{
    section{
      text-align: left;

      .fragment{
        transition: none;
      }
    }
  }

  section{
    a{
      color: $darkCoral;
      text-decoration: underline;

      &:hover{
        color: $white;
      }
    }

    h1,
    h2,
    h3,
    h4{
      line-height: 1.2;
      text-align: left;
      font-weight: 400;
      margin: 0;

      code{
        text-transform: none;
      }
    }

    .accent{
      font-family: $accentFont;
      text-transform: none;
      color: $darkCoral;
    }

    .accent-color{
      color: $darkCoral;
    }

    h3 + pre{
      margin: .5em 0 1.5em;
    }

    ul{
      align-self: center;

      li{
        color: $white;
        margin-bottom: .25em;

        &:first-child{
          margin-top: .75em;
        }

        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    li{
      font-family: $mainFont;
      line-height: 1.2;
      color: $mainColor;
    }

    img,
    video{
      border: 0;
      background: transparent;
      box-shadow: none;

      &.diagram{
        transform: scale(1.04);
      }

      &.full{
        width: 100%;
      }

      &.stretch{
        &.large{
          max-width: 40%;
        }

        &.larger{
          max-width: 60%;
        }
      }
    }

    video{
      max-width: 50%;
      width: 100%;

      & + h4{
        margin-top: 16px;
      }
    }

    .flex-item-container{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      align-content: flex-start;

      & > *{
        width: 48.75%;
        height: auto;
      }
    }
  }

  picture{
    & > .stretch{
      width: 100%;
    }
  }

  .invisible{
    visibility: hidden;
  }

  blockquote{
    background: none;
    color: $white;
    text-align: left;
    width: 100%;
    box-shadow: none;
    line-height: 1.618;
    padding: 0 0 0 1em;
    border-left: .125em solid transparentize($darkCoral, .25);

    code{
      font-style: normal;
      font-size: .9em;
    }

    cite{
      text-align: right;
      display: block;
      font-size: 0.8333333333em;
      margin: 0.3333333333em 0 0;
    }
  }

  table{
    width: 100%;
    border-collapse: collapse;
    margin: .5em 0 0;
  }

  th{
    code{
      font-weight: 400;
    }
  }
}

body{
  background: $spaceCadet;
}

.title-card body{
  background: url("/img/title-card.svg") $spaceCadet no-repeat;
  background-size: cover;
}

.section-slide body{
  background: $darkCoral;

  .unfocused-heading{
    opacity: 0.25;
    filter: blur(.0675em);

    &.prev,
    &.next{
      position: relative;
    }

    &.prev{
      left: -1em;
    }

    &.next{
      left: 1em;
    }

    h4{
      color: $onyx;
    }
  }

  .focused-heading{
    margin: 1.375em 0;
  }

  .accent{
    color: $onyx;
  }
}

.warning body{
  background: $darkTerraCotta;

  .accent{
    color: $spaceCadet;
  }
}

.blackboard body{
  background: $onyx;

  h1,
  h2,
  h3,
  h4{
    color: $white;

    & + img{
      margin-top: 1.2em;
    }
  }

  img + h3{
    margin-top: .2em;
  }

  .accent{
    color: $white;
  }
}

.centered body{
  h1,
  h2,
  h3,
  h4,
  li,
  p{
    text-align: center;
  }

  .reveal{
    .slides{
      section{
        text-align: center;
      }
    }
  }
}

@media (orientation: landscape){
  .reveal{
    section{
      img.diagram{
        transform: scale(1.08);
      }
    }
  }
}
