/**
 * Faster Fonts for Speed Fanatics presentation theme styles.
 * By Jeremy L. Wagner, https://jeremywagner.me
 **/

// Default mixins and settings
@import "../template/mixins";
@import "../template/settings";

// Font imports
@import "fonts.scss";

// Theme-specific variables
$purple: #754668;
$darkPurple: darken($purple, 35%);
$red: #f0544f;
$darkRed: darken($red, 35%);
$blue: #507dbc;
$darkBlue: darken($blue, 35%);
$black: #000;
$white: #fbfef9;
$lightGrey: #d5d6d4;
$darkGrey: #4c4c4c;
$warningRed: #1a0908;

// Theme overrides
$mainColor: $white;
$headingColor: $white;
$mainFontSize: 42px;
$mainFont: "Economica", sans-serif;
$headingFont: "Economica", sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;

// Heading Sizes
$heading1Size: 2em;
$heading2Size: 1.5278838808em;
$heading3Size: 1.1672145766em;
$heading4Size: .8916841685em;
$heading5Size: .6811949339em;
$heading6Size: .5203933796em;

// Theme template
@import "../template/theme";

// Theme-specific styles here
*{
  font-variant-ligatures: none;
}

.reveal{
  code,
  pre{
    font-family: "Operator Mono", "Consolas", monospace;
  }

  pre{
    width: 100%;
  }

  .slides{
    section{
      .fragment{
        transition: none;
      }
    }
  }

  section{
    a{
      color: $lightGrey;
      text-decoration: underline;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
      line-height: 1.2;
      font-weight: 700;
      text-transform: none;

      code{
        font-weight: 400;
        text-transform: none;
      }
    }

    h4,
    h5,
    h6{
      font-weight: 400;
    }

    h3{
      & + pre.fragment{
        margin: 1em 0 0;
      }
    }

    h5{
      font-size: $heading5Size;

      & + h6{
        margin-top: 1em;
      }
    }

    h6{
      font-size: $heading6Size;
    }

    ul{
      align-self: center;
      list-style: none;
      margin: 0;

      li{
        color: $white;
        margin: .5em 0;

        &:first-child{
          margin-top: 0;
        }

        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    li{
      font-family: $mainFont;
      line-height: 1.2;
      text-align: center;
      color: $mainColor;
    }

    img,
    video{
      border: 0;
      background: transparent;
      box-shadow: none;
    }

    svg.stretch{
      transform: scale(1.04);
    }

    video{
      max-width: 50%;
      width: 100%;

      & + h4{
        margin-top: 16px;
      }
    }

    .flex-item-container{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      align-content: flex-start;

      & > *{
        width: 48.75%;
        height: auto;
      }
    }
  }

  picture{
    & > .stretch{
      width: 100%;
    }
  }

  .rotate{
    transform: rotate(-1.5deg);
  }

  .uppercase{
    text-transform: uppercase;
  }

  .right{
    text-align: right;
  }

  .bold{
    font-weight: 700;
  }

  blockquote{
    background: none;
    color: $headingColor;
    text-align: left;
    width: 100%;
    box-shadow: none;

    code,
    cite{
      font-style: normal;
    }

    cite{
      text-align: right;
      display: block;
    }
  }

  th{
    code{
      font-weight: 400;
    }
  }
}

body{
  background: $blue;
  background: linear-gradient(45deg, $darkBlue 0%, $blue 100%);

  .reveal{
    section{
      h1,
      h2,
      h3,
      h4,
      h5,
      h6{
        text-shadow: .05em .05em 0 $darkBlue;
      }
    }

    .slides{
      z-index: 2;
    }
  }
}

.warning body{
  background: $black;
  background: linear-gradient(45deg, $black 0%, $warningRed 100%);

  .reveal{
    section{
      h1,
      h2,
      h3,
      h4,
      h5,
      h6{
        color: $red;
        text-shadow: .05em .05em 0 $darkRed;
      }
    }
  }
}

.title-card{
  body{
    background: $purple;
    background: linear-gradient(45deg, $darkPurple 0%, $purple 100%);
  }

  .stretch{
    transform: scale(1.1);
  }
}

.title-slide body{
  background: $red;
  background: linear-gradient(45deg, $darkRed 0%, $red 100%);

  .reveal{
    section{
      h1,
      h2,
      h3,
      h4,
      h5,
      h6{
        text-transform: uppercase;
        text-shadow: .05em .05em 0 $darkRed;
        transform: skewY(-1.5deg);
      }
    }
  }
}

.white body{
  &:before{
    background-image: url("/img/lined-paper.png");
    background-blend-mode: multiply;
    background-size: 412px 300px;
    display: block;
    z-index: 1;
    width: 125%;
    height: 125%;
    top: -12.5%;
    left: -12.5%;
    content: "";
    position: absolute;
    transform: rotate(-1.5deg);
  }

  .reveal{
    section{
      h1,
      h2,
      h3,
      h4,
      h5,
      h6{
        color: $darkGrey;
        text-shadow: .05em .05em 0 $lightGrey;
      }
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
  .white body{
    &:before{
      background-image: url("/img/lined-paper-2x.png");
    }
  }
}

@media (orientation: landscape){
  .reveal{
    section{
      svg.stretch{
        transform: scale(1.08);
      }
    }
  }
}
